[tool.poetry]
name = "reebpy"
version = "0.1.0"
description = "Python libary for building Reeb graphs from sequence data"
authors = ["Vision Research Lab, UCSB"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
numpy = "^2.1.2"
networkx = "^3.4.2"

[tool.poetry.group.dev.dependencies]
pytest = "^8.3.3"
pandas = "^2.2.3"
black = "^24.10.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 88
target-version = ['py38']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | build
  | dist
)/
'''
